@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,400i,500,500i,700);

html {
  font-family: Work Sans, Helvetica, sans-serif !important;
}

.reveal {
  font-family: Work Sans, Helvetica, sans-serif !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  text-transform: none;
}

.opacity60{
  opacity: 0.6;
}

.change-theme{
  background: #fff;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  z-index: 99;
}